{% extends 'workrecords/base.html' %}
{% block navigation %}
{% if user.job_classification_choice == 'EMPLOYEE' %}
<li class="nav-item active">
        <a class="nav-link" href="#">
            My Meal Plan Records
        </a>
</li>
{% endif %}
{% endblock %}

{% block content %}
<body>
{% if meal_plan_record %}
<div style="display: flex; justify-content: center;">
    <div style="display: flex; flex-direction: column; align-items: center;">
    <div style="width: 60%; text-align: center;">
            <h2>My Meal Plan Records</h2>
            <div class="card border-success mb-2" style="max-width: 30rem;">
                <div class="card-header border-success">Goal: {{ meal_plan_record.goal }}</div>
                <div class="card-body text-success">
                    <h5 class="card-title">Calories: {{ meal_plan_record.calories }}</h5>
                    <h4 class="card-subtitle mb-2 text-muted">
                        Dietary restrictions: {{ meal_plan_record.dietary_restrictions }}</h4>
                    <p class="card-text">Food allergies:
                        {{ meal_plan_record.allergy }}</p>
                    <p class="card-text">Food budget:
                        {{ meal_plan_record.budget }}</p>
                    <p class="card-text"><strong>Cuisines</strong></p>
                    <p class="card-text">{{ meal_plan_record.cuisine }}</p>
                </div>
            </div>
    </div>
    <div style="width: 90%;">
        <h3>
            Meal choices that are recommended for you
        </h3>
    </div>
    </div>
</div>
{% else %}
<div class="col-md-6 mx-auto">
        <small style="font-size: 20px" class="text-muted">
            Hmm..it looks like you have not created any meal plan assessment yet
            <a class="ml-2" href="{% url 'remoodwork-create-meal-plan' request.user.pk %}">Create your meal planning assessment record</a>
            <!-- Placeholder '#' after implementing models/forms of a pulse survey record log
            in a workrecords directory -->
        </small>
    </div>
</body>
{% endif %}
{% endblock content %}