{% extends 'workrecords/base.html' %}
{% block navigation %}
{% if user.job_classification_choice == 'EMPLOYEE' %}
<li class="nav-item active">
        <a class="nav-link" href="#">
            My Meal Plan Records
        </a>
</li>
{% endif %}
{% endblock %}

{% block content %}
<body>
<div class="col-md-6 mx-auto">
        <small style="font-size: 20px" class="text-muted">
            Hmm..it looks like you have not created any meal plan assessment yet
            <a class="ml-2" href="{% url 'remoodwork-create-meal-plan' request.user.pk %}">Create your meal planning assessment record</a>
            <!-- Placeholder '#' after implementing models/forms of a pulse survey record log
            in a workrecords directory -->
        </small>
    </div>
</body>
{% endblock content %}