{% extends 'workrecords/base.html' %}
{% block navigation %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        My Pulse Survey Records
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">
            Create a new pulse survey record</a>
<!--              <div class="dropdown-divider"></div>-->
<!--              <a class="dropdown-item" href="#">Something else here</a>-->
    </div>
</li>
{% endblock %}

{% block content %}
<body>
    <div class="col-md-6 mx-auto">
        <small style="font-size: 20px" class="text-muted">
            Hmm..it looks like you have not created any recent pulse survey records
            <a class="ml-2" href="#">Create your first pulse survey record</a>
            <!-- Placeholder '#' after implementing models/forms of a pulse survey record log
            in a workrecords directory -->
        </small>
    </div>
</body>
{% endblock content %}